name: xiaomi_r3p
on:
  schedule:
    - cron: 1 16 * * 5
  push:
    branches: 
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    
    - name: Space cleanup and Initialization environment
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        
        sudo -E rm -rf /usr/share/dotnet /etc/mysql /etc/php /etc/apt/sources.list.d /usr/local/lib/android
        sudo -E apt-mark hold grub-efi-amd64-signed
        sudo -E apt update
        sudo -E apt -y purge azure-cli*  ghc* zulu* llvm* firefox google* dotnet* powershell* openjdk* mysql* php* mongodb* dotnet* moby* snap*
        sudo -E apt -y full-upgrade
        sudo -E apt -y install ack antlr3 aria2 asciidoc autoconf automake autopoint binutils bison build-essential bzip2 ccache cmake cpio curl device-tree-compiler fastjar flex gawk gettext gcc-multilib g++-multilib git gperf haveged help2man intltool libc6-dev-i386 libelf-dev libglib2.0-dev libgmp3-dev libltdl-dev libmpc-dev libmpfr-dev libncurses5-dev libncursesw5-dev libreadline-dev libssl-dev libtool lrzsz mkisofs msmtp nano ninja-build p7zip p7zip-full patch pkgconf python3 python3-pip libpython3-dev qemu-utils rsync scons squashfs-tools subversion swig texinfo uglifyjs upx-ucl unzip vim wget xmlto xxd zlib1g-dev
        sudo -E systemctl daemon-reload
        sudo -E apt -y autoremove --purge
        sudo -E apt clean
        sudo -E timedatectl set-timezone "Asia/Shanghai"
    ##- name: Checkout OpenWrt
    ##  uses: actions/checkout@v3
    ##      
    ##
    ##
    ##- name: Clone source code
    ##  env: 
    ##    REPO_URL: https://github.com/coolsnowwolf/lede.git
    ##    REPO_BRANCH: master
    ##  run: git clone --depth 1 $REPO_URL -b $REPO_BRANCH openwrt #git clone https://github.com/coolsnowwolf/lede.git openwrt #
    ##
##
##
    ##
    ##- name: Add new feed from lienol
    ##  run: |
    ##      cd openwrt/package/lean && rm -rf luci-theme-argon && git clone -b 18.06 https://github.com/jerrykuku/luci-theme-argon.git  
    ##      cd ../.. && rm feeds.conf.default && cp ../feeds.conf.default feeds.conf.default
    ##      
    ##      
    ##
    ##
    ##
    ##
    ##- name: Update feeds
    ##  run: cd openwrt && ./scripts/feeds update -a
    ##
    ##
    ##- name: Install feeds
    ##  run: cd openwrt && ./scripts/feeds install -a
    ##- name: remove Nodes 
    ##  run: sed -i 's/DEPENDS:=@(HAS_FPU||KERNEL_MIPS_FPU_EMULATOR||SOFT_FLOAT)/DEPENDS:=@(HAS_FPU||KERNEL_MIPS_FPU_EMULATOR)/g' ./openwrt/feeds/packages/lang/node/Makefile
    ##
    ##
##
    ##- name: Custom configure file
    ##  run: |
    ##      cd openwrt
    ##      rm -f .config
    ##      cp ../xiaomi_r3p .config
    ##      
    ##- name: Make Defconfig
    ##  run: |
    ##      cd openwrt
    ##      make defconfig
    ##- name: Make download
    ##  run: |
    ##      cd openwrt
    ##      make download -j8
    ##      find dl -size -1024c -exec ls -l {} \;
    ##      find dl -size -1024c -exec rm -f {} \;
    ##- name: Multi-thread compile
    ##  run: |
    ##      cd openwrt
    ##      echo -e "$(nproc) thread build."
    ##      make -j$(nproc) V=s
    ##- name: Single-thread compile
    ##  if: failure()
    ##  run: |
    ##      cd openwrt
    ##      make -j1 V=s
    - name: Get current date
      id: currentdate
      run: echo "::set-output name=date::$(date +'%Y-%m-%d.%H.%M')"
    ##- name: Assemble artifact
    ##  run: |
    ##      rm -rf ./artifact/
    ##      mkdir -p ./artifact/
    ##      find openwrt/bin/targets/ -name "*sysupgrade*bin*" | xargs -i mv -f {} ./artifact/${{ steps.currentdate.outputs.date }}.bin
    ##      mv -f openwrt/bin/packages ./artifact/
    ##- name: Upload artifact
    ##  uses: actions/upload-artifact@master
    ##  with:
    ##    name: OpenWrt firmware
    ##    path: ./artifact/
    ##
    ##- name: Create Release and upload assets
    ##  id: release-asset
    ##  uses: "marvinpinto/action-automatic-releases@latest"
    ##  with:
    ##      repo_token: "${{ secrets.GITHUB_TOKEN }}"
    ##      automatic_release_tag: "XiaoMiR3P_${{ steps.currentdate.outputs.date }}"
    ##      prerelease: True
    ##      title: XiaoMi_3Pro_${{ steps.currentdate.outputs.date }}
    ##      files: |
    ##        ./artifact/${{ steps.currentdate.outputs.date }}.bin
    ##        ./artifact/**/*.ipk
    
    #- name: executing remote ssh commands using ssh key
    #  uses: appleboy/ssh-action@master
    #  
    #  with:
    #    host: ${{ secrets.ssh_host }}
    #    username: ${{ secrets.ssh_user }}
    #    password: ${{ secrets.ssh_pass }}
    #    port: ${{ secrets.ssh_port }}
    #    script: |
    #      curl -4 -o /tmp/${{ steps.currentdate.outputs.date }}.bin -L https://github.com/hcwang/openwrt-actions/releases/download/${{ steps.release-asset.outputs.automatic_releases_tag }}/${{ steps.currentdate.outputs.date }}.bin
    #      nohup sysupgrade -v /tmp/${{ steps.currentdate.outputs.date }}.bin>/dev/null  2>&1 &
    - name: upload to my router and sysupgrade
      uses: fifsky/ssh-action@master
      with:
        command: |
          curl -4 -o /tmp/${{ steps.currentdate.outputs.date }}.bin -L https://github.com/hcwang/openwrt-actions/releases/download/${{ steps.release-asset.outputs.automatic_releases_tag }}/${{ steps.currentdate.outputs.date }}.bin
          nohup sysupgrade -v /tmp/${{ steps.currentdate.outputs.date }}.bin>/dev/null  2>&1 &
        host: ${{ secrets.ssh_host }}
        user: ${{ secrets.ssh_user }}
        pass: ${{ secrets.ssh_pass }}
        port: ${{ secrets.ssh_port }}    
          
          
          
        
        
    
